@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
} */
/* .slider::-webkit-slider-thumb {
    @apply bg-blue-600 appearance-none h-[17px] w-[17px] cursor-pointer rounded-full
}

.slider::-moz-range-thumb {
    @apply bg-blue-600 appearance-none h-[17px] w-[17px] cursor-pointer rounded-full
} */
